<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>Reserva Sala Postgrado</title>
  </head>
  <body>
    
    <h1> Hola {{usuario}} </h1>
      <div class="dias-container">
        <label> Día:</label>
        <select id="dia">
        </select>
      </div>
      <div class="dias-container">
        <label> Horario:</label>
        <select id="horario">
        </select>
      </div>

      <ul class="showcase">
        <li>
          <div class="asiento"></div>
          <small>Disponible</small>
        </li>
        <li>
          <div class="asiento seleccionado"></div>
          <small>Seleccionado</small>
        </li>
        <li>
          <div class="asiento reservado"></div>
          <small>Reservado</small>
        </li>
      </ul>

      <div class="container">

        <div class="row">
          <div class="asiento" id="10"></div>
          <div class="asiento" id="9"></div>
        </div>
        <div class="row">
          <div class="asiento" id="8"></div>
          <div class="asiento" id="7"></div>
        </div>

        <div class="separacion"></div>

        <div class="row">
          <div class="asiento" id="6"></div>
          <div class="asiento" id="5"></div>
        </div>

        <div class="row">
          <div class="asiento" id="4"></div>
          <div class="asiento" id="3"></div>
        </div>

        <div class="separacion"></div>

        <div class="row">
            <div class="asiento" id="2"></div>
            <div class="asiento" id="1"></div>
        </div>

        <div class="separacion"></div>

        <button class="boton" id="reservar">Reservar</button>
      </div>
      <h1>Tus reservas futuras son:</h1>
      <p>(Puedes cancelar una reserva haciendole click, formato YYYY-MM-DD)</p>
      <div class="info" id="cancelacion"></div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
