@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    135deg,
    #d8b446,
    #003366
  );
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  font-family: "Lato", sans-serif;
}

.asientos-hoy-container{
  display: flex;
  flex-direction: row;
}

.vitalicios-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  max-height: 300px;
}

.contenedor-principal_1 {
  display: flex;
  justify-content: first baseline;
  width: 60%;
  margin-bottom: 40px;
}

.contenedor-principal_1 .container h2 {
  margin-left: 50px;
}

.contenedor-principal_2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos verticalmente */
}

.calendario-asientos-container p{
  margin: 8px;
}

#reservas-x-asiento {
  max-height: 280px;
  overflow-y: auto;
  background-color: rgba(0, 51, 102, 0.8); /* Añade esta línea */
  border-radius: 10px;
}

.calendario-asientos-container{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 170px;
}

input {
  display: block; /* Hace que los inputs se apilen verticalmente */
  margin: 10px 0; /* Añade un margen arriba y abajo para separar los inputs */
  padding: 10px; /* Añade un padding para hacer los inputs más grandes */
  background-color: #868278; /* Cambia el color de fondo para que coincida con el de la página */  border: none; /* Elimina el borde */
  border-radius: 5px; /* Añade bordes redondeados */
  color: #003366;
}

.asiento {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444451;
  height: 50px;
  width: 50px;
  margin: 3px;
  font-size: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.asiento.seleccionado {
  background-color: green;
}

.asiento.reservado {
  background-color: #fff;
}

.numero-asiento {
  font-size: 20px;
  pointer-events: none;
}

.asiento:nth-of-type(2) {
  margin-right: 18px;
}

.asiento:nth-last-of-type(2) {
  margin-left: 18px;
}

.asiento:not(.reservado):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .asiento:not(.reservado):hover {
  cursor: default;
  transform: scale(1);
}

.separacion {
  padding: 10px;
}

.row {
  display: flex;
  margin-left: 50px;
}

h1 {
  margin-top: 20px;
  
}

p {
  font-size: medium;
  background-color: rgba(0, 51, 102, 0.5); /* Añade esta línea */
  padding: 9px;
  border-radius: 10px;
  margin-left: 10px;

}

.column {
  float: left;
}

.eliminar-usuario-button {
  background-color: rgba(0, 51, 102, 0.5); /* Añade esta línea */
  border-radius: 10px;
  padding: 9px;
  font-size: medium;
  cursor: pointer;
  margin-bottom: 10px;
}

.eliminar_vitalicio_button {
  background-color: rgba(0, 51, 102, 0.5); /* Añade esta línea */
  border-radius: 10px;
  padding: 9px;
  font-size: medium;
  cursor: pointer;
  margin-bottom: 10px;
}

.usuarios-container {
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alert{
  color: red;
  text-align: center;
  font-size: small;
}

.alert-success{
  color: rgb(7, 174, 7);
  text-align: center;
  font-size: small;
}

.boton-reservas {
  background-color: rgba(216, 180, 70, 0.9);
  color: #003366;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}